.main{
    display: flex;
    align-items: flex-start;
    gap: 75px;
    margin-bottom: 33px;
}

.date{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__day{
        font-family: var(--font2);
        font-weight: 400;
        font-size: 90px;
        text-transform: uppercase;
        color: #000;
    }

    &__month{
        font-family: var(--fontfamily);
        font-weight: 400;
        font-size: 48px;
        color: #000;
        margin-top: -20px;
    }
}

.more{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__time{
        font-family: var(--fontfamily);
        font-weight: 400;
        font-size: 32px;
        color: #9b9b9b;
    }
}

.title{
    display: flex;
    align-items: flex-start;
    gap: 50%;

    span{
        font-family: var(--fontfamily);
        font-weight: 700;
        font-size: 48px;
        color: #000;
        min-width: 100%;
    }
}