.notfoud{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 87px 0;

    &__1{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

.heading{
    display: flex;
    align-items: center;
    gap: 19px;
    margin: 0;

    &__txt{
        font-family: var(--font2);
        font-weight: 400;
        font-size: 90px;
        text-transform: uppercase;
        color: #000;
        width: 1000px;
    }
}

.txt{
    font-family: var(--fontfamily);
    font-weight: 400;
    font-size: 20px;
    color: #000;
    width: 549px;
    margin-top: 0;
    margin-bottom: 45px;

    b{
        color: #a11717;
        font-weight: 700;
    }
}

.svg{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
}

.noname{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}