.part__1{
  border-bottom: var(--borders);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  gap: 50px;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;

  h1{
      font-family: var(--font2);
      font-weight: 400;
      font-size: 83px;
      text-transform: uppercase;
      color: #000;
      max-width: 606px;
  }
}

.blur{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.img{
  border-radius: var(--borderradius);
}

.right__img{
  display: flex;
  align-items: flex-end;
  border-radius: var(--borderradius);
  width: 643px;
  height: 877px;
  background-image: url(../img/manmainpage.png);
}

.buttons{
  display: flex;
  align-items: center;
  gap: 19px;
}

.button__white{
  border-radius: 10px;
  background-color: none;
  font-family: var(--fontfamily);
  font-weight: 700;
  font-size: 20px;
  color: #000;
  border: 3px solid #000;
  padding: 16px 51px;
  transition: 0.3s ease-in-out;
}

.part__2{
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  padding-bottom: 113px;
  padding-top: 136px;

  &__1{
      padding-top: 41px;
      margin-bottom: 113px;
  }

  &__2{
      display: flex;
      flex-direction: column;
      margin-bottom: 113px;
  }
}

