.button{
  display: flex;
  align-items: center;
    &__red{
        border-radius: 10px;
        background-color: #000;
        font-family: var(--fontfamily);
        font-weight: 700;
        font-size: 20px;
        color: var(--bc);
        padding: 19px 51px; 
        transition: 0.3s ease-in-out;

        &:hover{
          background: #555555;
        }
    }

    
}
