@font-face{
    font-family: 'PT Sans Caption';
    src: url('../app/fonts/PTSansCaption-Regular.ttf');
    font-weight: normal;
}

@font-face{
    font-family: 'PT Sans Caption';
    src: url('../app/fonts/PTSansCaption-Bold.ttf');
    font-weight: bold;
}

@font-face{
    font-family: 'Prosto One';
    src: url('../app/fonts/ProstoOne-Regular.ttf');
    font-weight: normal;
}